# DataFrame
https://pandas.pydata.org/pandas-docs/stable/api.html#dataframe

In [2]:
import pandas as pd
import numpy as np

In [3]:
l = ["Java", "Python", "JavaScript", "Ruby", "Go"]
df = pd.DataFrame(l)
print(df)

            0
0        Java
1      Python
2  JavaScript
3        Ruby
4          Go

In [4]:
l = ["Java", "Python", "JavaScript", "Ruby", "Go"]
df = pd.DataFrame(l, index=['lang1', 'lang2', 'lang3', 'lang4', 'lang5'])
print(df)

                0
lang1        Java
lang2      Python
lang3  JavaScript
lang4        Ruby
lang5          Go

In [5]:
d = {
    "name" : ["Alice", "Bob", "Cole", "Donald", "Eric"],
    "age" : [28, 32, 38, 44, 51],
    "job" : ["Nurse", "Programmer", "Police", "Doctor", "Engineer"],
    "marriage" : [True, True, False, True, False]
}
df = pd.DataFrame(d)
df = df.set_index('name')
print(df)

        age         job  marriage
name
Alice    28       Nurse      True
Bob      32  Programmer      True
Cole     38      Police     False
Donald   44      Doctor      True
Eric     51    Engineer     False

In [10]:
print(df['age'])

name
Alice     28
Bob       32
Cole      38
Donald    44
Eric      51
Name: age, dtype: int64

In [11]:
print(df[['age', 'marriage']])

        age  marriage
name
Alice    28      True
Bob      32      True
Cole     38     False
Donald   44      True
Eric     51     False

In [12]:
print(df.loc['Alice'])

age            28
job         Nurse
marriage     True
Name: Alice, dtype: object

In [13]:
print(df.loc[['Alice', 'Cole']])

       age     job  marriage
name
Alice   28   Nurse      True
Cole    38  Police     False

In [14]:
print(df.loc[['Alice', 'Cole']]['age'])

name
Alice    28
Cole     38
Name: age, dtype: int64

In [21]:
print(df['age'] > 40)

name
Alice     False
Bob       False
Cole      False
Donald     True
Eric       True
Name: age, dtype: bool

In [22]:
print(df[df['age'] > 40])

        age       job  marriage
name
Donald   44    Doctor      True
Eric     51  Engineer     False

In [26]:
print(df[df['age'] > 40]['job'])

name
Donald      Doctor
Eric      Engineer
Name: job, dtype: object

In [25]:
print(df['job'][df['age'] > 40])

name
Donald      Doctor
Eric      Engineer
Name: job, dtype: object

In [28]:
print(df[2:4])

        age     job  marriage
name
Cole     38  Police     False
Donald   44  Doctor      True